<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyz.ddedss_springboot.mapper.LessonMapper">

    <select id="getTeacherSubjectIdByClassId" resultType="java.lang.Integer">
        select
            teacher_subject_id
        from
            ddedss.lesson
        where
            class_id = #{classId}
    </select>
</mapper>
